{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
	<h1 style="margin-top:30px; color: white">Comparacion de Juegos</h1>
	
	<div class="row">
		<div class="col">
	      <table class="table table-dark">
			  <thead>
			    <tr>
			      <th scope="col">Nombre</th>
			      <th scope="col">Categoria</th>
			      <th scope="col">Genero</th>
			      <th scope="col">Desarrollador</th>
			      <th scope="col">Precio</th>
			    </tr>
			  </thead>
			  <tbody>
				<tr>
					<td>{{ game1.name_game }}</td>
					<td>{{ game1.category }}</td>
					<td>{{ game1.gender }}</td>
					<td>{{ game1.developer.name_developer }}</td>
					<td>{{ game1.price }}</td>
			    </tr>
			  </tbody>
			</table>
	    </div>
	    <div class="col">
	      <table class="table table-dark">
			  <thead>
			    <tr>
			      <th scope="col">Nombre</th>
			      <th scope="col">Categoria</th>
			      <th scope="col">Genero</th>
			      <th scope="col">Desarrollador</th>
			      <th scope="col">Precio</th>
			    </tr>
			  </thead>
			  <tbody>
				<tr>
					<td>{{ game2.name_game }}</td>
					<td>{{ game2.category }}</td>
					<td>{{ game2.gender }}</td>
					<td>{{ game2.developer.name_developer }}</td>
					<td>{{ game2.price }}</td>
			    </tr>
			  </tbody>
			</table>
	    </div>
		<form action="{% url 'list_games' %}">
			<button type="submit" class="btn btn-danger col">Volver</button>
		</form>
	</div>
	
{% endblock %}