body{
	background: #170a21;
}

header{
	background: black;
}

header .navbar-brand{
	background: url(img/steom-menu.png) no-repeat;
	width: 150px;
	height: 60px;
}

header .navbar a{
    color: white;
}

footer{
	background: #171a21;
}

footer .container p{
	text-align: center;
	margin: auto;
	font-size: 11px;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

section #fondo{
	background: url(img/steom-menu.png) no-repeat;
}

#log{
	color: #FFFFFF;
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

#log-ses{
	background: #171a21;
	min-height: 230px;
}

#log-ses-cab{
	font-size: 20px;
	font-weight: bold;
}
#log-ses-corp{
	font-size: 12px;
	font-weight: lighter;
}
#log-ses-tit{
	font-size: 14px;
	font-weight: bold;
}